#This is an example of secret environmental variables
#original environmental variable should be created with .env filename

DOMAIN = "Your Domain Name Here"
LOCAL_IP = "Your Local Development Server IP Here"
DB_HOST = "Your Database Host Name Here"
DB_USER = "Your Database Username Here"
DB_PASS = "Your Database Password Here"
DB_NAME = "Your Database Name Here"
RECAPTCHA_SECRET = "Your reCaptcha Secret/Private Site Key Here"
SMTP_HOST = "Your SMTP Sender Host Name Here"
SMTP_USER = "Your SMTP Sender Username Here"
SMTP_PASS = "Your SMTP Sender Password Here"
SMTP_SENDTO = "Your Email Inbox Address to Receive Emails"
SMTP_PORT = 465
ANALYTICS_ID = "Your Google Analytics Tracking ID Here"
GITHUB_ACCESS_TOKEN = "Your GitHub Access Token Here"