::-webkit-scrollbar {
    width: 4px;
  }
  
::-webkit-scrollbar-track {
background: #0F172A;
}

::-webkit-scrollbar-thumb {
background: rgba(56, 189, 248, 0.30);
}

::-webkit-scrollbar-thumb:hover {
background: #38BDF8;
}



@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(100px);
    }
}

.animate-scroll {
    animation: scroll ease 1.5s infinite;
}

@keyframes slide-up {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.animate-slide-up {
    animation: slide-up 0.5s ease-in-out;
}

.aboutcontainer:hover::before {
    opacity: 1;
}

.aboutcontainer::before {
    background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y), rgba(255,255,255,0.06), transparent 40%);
    border-radius: inherit;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    opacity: 0;
    transition: opacity 500ms;
}

/* .z-20 rect {
    transition: fill 0.3s ease-in-out;
}

.z-20 rect:hover {
    fill: red;
}

.z-20 path:hover + .z-20 rect {
    fill: red;
}

.z-20 g:hover + .z-20 rect {
    fill: red;
} */

/* --- floatingbar styling --- */

.floatingbar-slide-down {
    transform: translateY(20vh);
    transition: transform 0.5s ease-in-out;
}
  
.floatingbar-slide-up {
    transform: translateY(-10%);
    transition: transform 0.5s ease-in-out;
}

.floatingbar-click-slide-up {
    transform: translateY(-70vh);
    transition: transform 0.5s ease-in-out;
}

.floatingbar-click-slide-down {
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
}

.searchbar-click-increase-width {
    animation: increaseSearchbarWidth 0.5s ease-in-out;
    width: 40vw;
    transition: width 1s ease-in-out;
}

.searchbar-click-decrease-width {
    animation: decreaseSearchbarWidth 0.5s ease-in-out;
    width: fit-content;
    transition: width 1s ease-in-out;
}

@keyframes increaseSearchbarWidth {
    from {
      width: 10vw;
    }
    to {
      width: 40vw;
    }
}

@keyframes decreaseSearchbarWidth {
    from {
      width: 40vw;
    }
    to {
      width: 10vw;
    }
}

@media only screen and (max-width: 768px) {

    .searchbar-click-increase-width {
        animation: increaseSearchbarWidth 0.5s ease-in-out;
        width: 80vw;
        transition: width 1s ease-in-out;
    }
    
    .searchbar-click-decrease-width {
        animation: decreaseSearchbarWidth 0.5s ease-in-out;
        width: fit-content;
        transition: width 1s ease-in-out;
    }

    @keyframes increaseSearchbarWidth {
        from {
            width: 10vw;
        }
        to {
            width: 80vw;
        }
    }

    @keyframes decreaseSearchbarWidth {
        from {
          width: 80vw;
        }
        to {
          width: 30vw;
        }
    }

}

.flotingbar-window-wrapper-show {
    animation: blurWindowWrapper 0.5s ease-in-out;
    backdrop-filter: blur(16px);
}

@keyframes blurWindowWrapper {
    from {
        backdrop-filter: blur(0px);
    }
    to {
        backdrop-filter: blur(16px);
    }
}